#h1{
    text-align: center;
    font-weight:100;
    font-family:'Times New Roman';
    text-transform: uppercase;
}
p{
    text-align: center;
    color: aqua;
    font-size: 2 5px;
    line-height:2px;
    text-transform: capitalize;
}
a{
    text-decoration: none;
}
div{
    height: 50px;
}