/* #h1{
    text-align: center;
    font-weight:100;
    font-family:'Times New Roman';
    text-transform: uppercase;
    border:2px dotted black;
    text-align: center;
    background-color: cadetblue;
}
p{
    text-align: center;
    color: aqua;
    font-size: 2 5px;
    line-height:2px;
    text-transform: capitalize;
}
a{
    text-decoration: none; 
}*/
/* div{
    height: 100px;
    width:100px;
    background-color: green;
    border-radius: 50%; */
    /* border:5px dashed greenyellow;
    text-align: center; */
    /* border-radius: 60%; */
    /* padding-left:25px;
    padding-right:25px;
    padding-top:25px;
    padding-bottom: 25px; */
    /* padding:25px; */
    /* padding:1px 2px 3px 4px;
    margin-top:50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px; 
}*/
/* *{
    padding: 0;
    margin:0;
    color:white;
}
#navbar{
    height: 60px;
    background: #0f1111;
}
button{
    background-color: #f08804;
}
#logo{
    color:#f08804;
}
a{
    margin-right: 200px;
    text-decoration: none;
} */
/* div{
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
}
#Box3{
    visibility: hidden;
} */
/* #box1{
    height: 100px;
    width: 100px;
    background-color: green;
    font-size: 10px;
}
#box2{
    height: 50px;
    width: 50px;
    background-color: darkcyan;
    font-size: 2em;
    width:5 rem;
    height: 35vh;
    width:20vw;
} */
/* div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display:inline-block;
} */
/* #box1{
    position:static;
}
#box2{
    position: relative;
    top:20px;
    left:10px;
    z-index: 1;
}
#box3{
    position:absolute;
    top:10px;
    left:20px;
    z-index: -1;
}
#box4{
    position: fixed;
    right: 10px;
} */
/* #box1{
    background-image: url("image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
 } */
/* div{
    height: 50px;
    width: 50px;
    background-color: blueviolet;
    border: 2px solid black;
    transition-property: all;
    transition-duration: 2s; 
}*/
/* @media (width: 600px) {
    div{
        background-color: orangered; 
    }
} */
/* div:hover{
    background-color: red;
    color:white;
    font-size: 20px;
}
div:active{
    background-color: pink;
} */